.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

button {
    border: 1px solid black;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s linear;
}

button:hover {
    color: black;
    background-color: white;
}

.transformed {
    margin-top: 30px;
    width: 260px;
    height: 260px;
    border: 2px solid black;
    background-color: brown;
    /*transform: rotateX(45deg);
    transform: scale(1.0);*/
    overflow: hidden;
}

.transformed img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s linear;
    cursor: pointer;
}

.transformed img:hover {
    transform: scale(1.2);
}

.translate {
    /*transform: translate(50px);*/
    /*transform: skew(10deg);
    transform: perspective(17px) translate(42px);*/
}

.transformed.translate {
    opacity: 0;
    transform: translateY(-50px);
    transition: all 0.3s linear;
}

.transformed:hover+.translate {
    opacity: 1;
    transform: translateY(0);
}

.transformed.animated {
    animation: rot 1s infinite normal linear both;
}

@keyframes rot {
    to {
        transform: rotate(360deg);
    }
}

.process_bar {
    border: 1px solid black;
    padding: 2px;
}

.process_bar div{
    background-color: black;
    animation: process 3s linear both 1;
    height: 10px;
}

@keyframes process {
    from {
        width: 0;
    }

    50% {
        
    }

    to{
        width: 100%;
        background-color: teal;
    }
}